* {
    margin: 0;
    padding: 0;
    background-color: #3AC345;
}

.generate {
    display: flex;
    justify-content: center;
}
.generate button {
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    width: 15%;
    margin-top: 20px;
}
.generate button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.rectangle {
    border: 3px solid #111;
    width: 99%;
    height: 30vh;
    margin-top: 4rem;
    border-radius: 10px;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
    width: 100%;
}
.inputs input {
    width: 5%;
    background-color: #fff;
    height: 60px;
    margin: 5px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
    .instructions {
        font-size: 1.2rem;
    }
    .generate button {
        width: 40%;
    }
    .inputs input {
        width: 8%;
    }
}